::-webkit-scrollbar {
width: 0.25em; /* Scales with zoom */
}

::-webkit-scrollbar-thumb {
background: mediumpurple;
border-radius: 0.5em; /* Scales with zoom */
}

html {
font-size: .9vw;
font-family: monospace;
}

body {
    width: 100vw;
    height: 100vh;
    overflow:hidden;
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
}

/* Block Boxes */
.blockBox {
    display: block;
}

.blockBoxFull {

}

.blockBoxFullCenter {
  display: block;
  align-self: center;
  justify-self: center;
  width: 100%;
  height: 100%;
}

/*Grid Boxes*/
.gridBox {
    display: grid;
}

.gridBox95 {
    display: grid;
    width: 95%;
    height: 95%;
}

.gridBox75 {
    display: grid;
    width: 75%;
    height: 75%;
}

.gridBoxFull {
    display: grid;
    width: 100%;
    height: 100%;
}

.gridBoxCenter {
    display: grid;
    align-self: center;
    justify-self: center;
}

.gridBoxCenter95 {
    display: grid;
    align-self: center;
    justify-self: center;
    width: 95%;
    height: 95%;
}

.gridBoxCenter75 {
    display: grid;
    align-self: center;
    justify-self: center;
    width: 75%;
    height: 75%;
}

.gridBoxCenterFull {
    display: grid;
    align-self: center;
    justify-self: center;
    width:100%;
    height: 100%;
}

.gridBoxCenterLeft {
    display: grid;
    align-self: center;
    justify-self: baseline;
}

.gridBoxCenterRight {
    display: grid;
    align-self: center;
    justify-self: end;
}

/*Hidden Grid Boxes */

.gridBoxHide {
    display: grid;
    visibility: hidden;
}

.gridBoxHideFull {
    display: grid;
    width:100%;
    height: 100%;
    visibility: hidden;
}

.gridBoxHide95 {
    display: grid;
    width: 95%;
    height: 95%;
    visibility: hidden;
}

/* Grid Box Row / Columns */

.gridBoxDualRow {
    display: grid;
    height:100%;
    width:100%;
    grid-template-rows: 50% 50%;
}

.gridBoxDualRowGap {
    display: grid;
    height:100%;
    width:100%;
    grid-template-rows: 49.5% 49.5%;
    gap: 1%;
}

.gridBoxDualColumn {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 50% 50%;
}

.gridBoxDualColumnGap {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 49.5% 49.5%;
    gap: 1%;
}

/* Flex Boxes */
.flexBoxHorizontal {
    display: flex;
    flex-direction: row;
}

.flexBoxVertical {
    display: flex;
    flex-direction: column;
}

/* Align Boxes */

.centerAlignBox {
    display: grid;
    align-self: center;
    justify-self: center;
}

.rightAlignBox {
    display: grid;
    align-self: center;
    justify-self: end;
}

.rightAlignBoxFull {
    width: 100%;
    height: 100%;
    display: grid;
    align-self: center;
    justify-self: end;
}

.leftAlignBox {
    display: grid;
    align-self: baseline;
    justify-self: center;
}

/* Specialty Classes */

/* Border Boxes */

.borderBox {
    border: solid;
}

.borderBoxREdge {
    border: solid;
    border-radius: 10px;
}

.borderBoxFull {
    width: 100%;
    height: 100%;
    border: solid;
}

.borderBoxFullREdge {
    width: 100%;
    height: 100%;
    border: solid;
    border-radius: 10px;
}

.borderBoxFullREdgeThin {
    width: 100%;
    height: 100%;
    border: solid;
    border-radius: 10px;
    border-width: 0.25vh;
}

.borderBoxFullREdgeHidden {
    width: 100%;
    height: 100%;
    border: solid;
    border-radius: 10px;
    border-width: 0vh;
}

/* Background Box */

.backgroundInsetTopFull {
    width: 100%;
    height: 100%;
    border: solid;
    border-radius: 10px;
    border-width: 0.25vh;
    background: darkslateblue;
    border-color: darkslateblue;
    border-top-style: inset;
    border-top-width: 0.8vh;
    border-top-color: mediumslateblue;
}

/* Progress Boxes */
.progressBar {
    display: grid;
    background: red;
    width: 100%;
    height: 100%;
    border: 1px;
    border-color: white;
    border-radius: 10px;
    overflow: clip;
    margin: auto;
    transition: width 0.3s ease;
}

.progressBarProgress {
    background: green;
    overflow: clip;
}

/*Slot Containers */

.slotContainerBorder {
    height: 5vh;
    border:solid;
    border-color: white;
    border-radius: 10px;
    background: white;
    padding: 1%;
}

.slotContainerBorder:hover {
    border-color: blue;
}

.slotContainerBlank {
    height: 5vh;
    padding: 1%;
}

/* Scroll Boxes */
.scrollBox {
    display: grid;
    width: 100%;
    height: 100%;
    overflow:hidden;
    position: relative;
}

.scrollBoxInner {
  width: 100%;
  height: 90%;
  display: block;
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* Text Boxes */
.textBoxCenter {
    text-align: center;
}

.textBoxLeft {
    text-align: left;
}

.textBoxRight {
    text-align: right;
}

/* VisibilityBoxes */
.hideBoxOuter {
    padding-bottom: 1vw;
}

.hideBoxInner{
}

.hideBtn {
    padding-bottom: 0.5vh;
}

/*None Display Boxes */

.noneBox {
    display: none;
}

.noneBoxFull {
    display: none;
    width: 100%;
    height: 100%;
}

/* Absolute Boxes */

.absoluteBox {
    position: absolute;
}

.absoluteBoxFull {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Relative Boxes */

.relativeBox {
    position: relative;
}

.relativeBoxFull {
    position: relative;
    width: 100%;
    height: 100%;
}

.relativeBoxFullGrid {
    display: grid;
    position: relative;
    width: 100%;
    height: 100%;
}

/* Icon Box */

.iconDiv {
    display: grid;
    grid-template-rows: 75% 25%;
    width: 100%;
    height: 100%
}

.iconDiv img {
    object-fit: fill;
    width: 80%;
    height: 80%;
    justify-self: center;
    align-self: center;
}

.iconDiv div {
    text-align: center;
    font-size: 1em;
    background: mediumpurple;
    border: thin;
    border-radius: 10px;
    height: fit-content;
    width: fit-content;
    padding-left: 5%;
    padding-right: 5%;
    justify-self: center;
    font-family: monospace;
    color: white;
}

/* Scene Containers */

.sceneContainerHidden {
    display: none;
    width: 100%;
    height: 100%;
}

/* Primary UI */
#bottomBoxLeft {
    flex: 15;
    background:darkslateblue;
    width: 100%;
    height: 100%;
}

#bottomBoxRight {
    flex: 85;
}

#mainBox {
    width: 100vw;
    height: 100vh;
    grid-template-rows: 10% 90%;
}

#topBoxLeft {
    flex: 15;
    background: darkslateblue;
    border: solid;
    border-width: 0px 5px 0px 0px;
    border-radius: 10px 0px 0px 0px;
}

#topBoxRight {
    flex: 85;
    background: mediumpurple;
}

/* sceneHome Elements */
#sceneHome {
    position: relative;
}

/* sceneHome - baseBox Elements */

#baseBox {
     position: absolute;
     z-index: 0;
}

/* sceneHome - buildBox Elements */
#buildBox {
    position: absolute;
    z-index: 1;
    grid-template-rows: 10% 90%;
    background: white;
    border:solid;
    border-radius:10px;
}

#buildBoxCloseBtn {
    justify-self:end;
    align-self: center;
}

#buildBoxCloseBtn img{
  object-fit: fill;
  width: 35%;
  height: 100%;
  justify-self: center;
  align-self: center;
}

#buildBoxDualRow {
    grid-template-rows: 25% 73%;
    gap: 2%;
}

#buildBoxDualColumn {
    grid-template-columns: 49.5% 49.5%;
    gap: 1%;
}
